In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas_datareader.data as web 
import datetime

In [2]:
df=pd.read_excel('S&P500.xlsx')
df.head(3)

,Symbol,Security,SEC filings,Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31 00:00:00,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31 00:00:00,1551152,2013 (1888)

In [3]:
df=pd.read_excel('S&P500.xlsx')
list_of_stocks=list(df['Symbol'])
list_of_stocks
start=datetime.datetime(2015,1,1) 
end=datetime.datetime(2017,12,30)
stocks = web.get_data_yahoo(list_of_stocks,start,end,interval='m')['Adj Close']
stocks

/Users/evanokin/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:270: SymbolWarning: Failed to read symbol: 'ARNC', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/evanokin/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:270: SymbolWarning: Failed to read symbol: 'BRK.B', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/evanokin/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:270: SymbolWarning: Failed to read symbol: 'BF.B', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/evanokin/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:270: SymbolWarning: Failed to read symbol: 'CTVA', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/evanokin/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:270: SymbolWarning: Failed to read symbol: 'DOW', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/evanokin/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:270: SymbolWarning: Failed to read symbol: 'FOXA', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/evanokin/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:270: SymbolWarning: Failed to read symbol: 'FOX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/evanokin/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:270: SymbolWarning: Failed to read symbol: 'NLOK', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/evanokin/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:270: SymbolWarning: Failed to read symbol: 'VIAC', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

Symbols,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-01,35.814228,46.503460,157.228470,107.393768,47.369701,87.141396,51.740002,40.023983,75.198761,70.129997,...,34.396351,71.042595,48.268581,30.603868,31.782488,46.148697,107.356613,83.459999,22.066845,41.130028
2015-02-01,40.122326,45.385414,153.203827,117.751808,47.843937,94.209885,60.790001,42.582039,80.568176,79.099998,...,37.775352,71.952782,51.143650,31.719276,33.273754,52.196384,115.295868,91.050003,24.627188,44.447651
2015-03-01,39.494980,50.110558,148.022156,114.507881,46.293957,104.519089,71.580002,41.647171,83.843529,73.940002,...,37.998577,69.595909,49.098305,29.860268,32.769524,50.658344,112.547302,90.720001,24.904493,44.640507
2015-04-01,39.420738,45.847645,141.463303,115.170479,51.133713,105.098396,63.220001,41.728058,82.912842,76.059998,...,38.950790,71.536407,49.272953,26.778467,34.641010,55.317478,105.386642,92.080002,26.140495,42.837158
2015-05-01,39.249218,40.309525,151.573456,119.891411,53.096729,103.498474,59.720001,43.911228,87.823227,79.089996,...,42.597935,69.759659,50.277725,26.592186,34.219929,58.413620,109.464340,109.639999,26.638588,48.082653
2015-06-01,36.762192,37.997696,157.578247,115.910301,53.575146,98.027901,65.730003,44.344929,88.499916,81.010002,...,39.949635,68.685532,49.804310,24.775909,34.820332,58.394176,105.007195,111.050003,29.336958,46.585197
2015-07-01,39.118195,38.149914,172.402924,112.093750,55.823730,97.484032,77.459999,45.799595,94.288345,81.989998,...,37.769405,65.391632,55.058502,25.722822,32.434471,56.890240,100.046707,107.629997,28.828604,47.319447
2015-08-01,34.685749,37.084381,173.432144,104.349785,50.133041,93.243591,95.900002,41.435974,86.204659,78.570000,...,37.896053,62.114201,50.704906,23.738760,30.405558,52.033340,99.556412,82.879997,26.804403,43.348774
2015-09-01,32.794323,37.027863,187.564026,102.389992,43.706757,87.809052,92.760002,36.515228,89.853302,82.220001,...,38.643349,61.953758,48.924759,22.711712,30.989864,52.150742,90.298714,76.550003,25.505318,39.852230
2015-10-01,36.175594,44.074883,196.438339,110.930237,47.835651,89.214134,73.660004,40.673344,98.028427,88.660004,...,43.400845,68.944901,58.952271,21.976004,34.348278,46.254028,100.762077,76.900002,27.301985,41.623226
2015-11-01,40.065235,39.345081,161.096710,109.816284,47.142147,91.183121,81.570000,41.019112,99.100166,91.459999,...,45.287437,68.044983,58.768200,24.690825,35.206757,47.734146,97.331718,80.199997,26.959322,45.194248
2015-12-01,40.055664,40.471588,148.999359,98.129669,48.025822,96.202805,90.279999,41.009979,96.586151,93.940002,...,43.088165,65.519760,58.952271,24.878050,34.566853,48.089638,98.854179,69.650002,25.334610,46.462074
2016-01-01,36.168846,37.260632,150.584274,90.746178,44.507389,83.077065,85.330002,34.563080,97.547394,89.129997,...,46.115433,65.435707,57.122841,22.875593,34.045994,47.641979,95.851685,60.400002,21.047218,41.740250
2016-02-01,35.880642,39.181469,147.009094,90.140213,44.737270,80.349876,80.010002,35.599030,92.667236,85.150002,...,43.317505,67.368950,59.130737,22.547123,35.428665,48.150673,93.485809,61.779999,19.785124,39.898163
2016-03-01,38.282299,39.297958,158.794327,102.158356,46.793499,80.598167,94.809998,38.438511,106.660690,93.800003,...,43.790688,70.898094,59.780617,26.183754,38.896492,54.382954,102.968620,69.000000,22.531473,43.075645
2016-04-01,39.310200,33.241791,154.653717,87.864235,49.972050,79.247879,97.139999,35.746059,104.368492,94.220001,...,39.774460,74.977768,57.886780,22.585917,39.733387,52.861427,112.052521,62.560001,25.611984,45.699238
2016-05-01,44.212269,30.577856,152.414658,93.600647,52.048504,69.823807,99.309998,36.639347,111.027985,99.470001,...,43.753754,75.503632,60.373196,23.456417,42.472301,54.971100,118.188927,53.110001,26.077324,46.174061
2016-06-01,42.738213,27.206568,160.132492,90.153221,51.204872,74.201057,109.290001,36.343502,105.727158,95.790001,...,42.917980,80.175171,60.256649,22.327120,42.614502,55.526909,116.514488,50.099998,23.441286,46.213013
2016-07-01,46.473240,34.116333,168.352402,98.272682,54.777878,79.692238,117.970001,41.372963,105.279198,97.860001,...,47.523315,76.078316,62.275772,24.312611,45.630447,59.879604,127.186363,53.009998,26.006493,49.246933
2016-08-01,45.381676,34.885143,155.983185,100.055000,53.481598,81.357361,117.940002,39.088284,107.323013,102.309998,...,50.435368,74.530228,59.766850,23.250410,48.541409,61.197533,125.702499,69.959999,28.534384,49.861668
2016-09-01,45.487934,35.288368,147.796494,107.186554,52.622227,75.856834,128.580002,39.339455,114.014374,108.540001,...,50.881920,75.286560,57.792778,23.911341,50.212421,61.265015,126.100159,69.610001,29.016567,50.749611
2016-10-01,42.192242,39.134323,138.893829,107.651123,46.539841,66.034309,104.989998,36.502251,108.480232,107.510002,...,47.632744,71.870689,56.057446,23.129398,46.268185,58.208839,102.419357,65.839996,30.129711,46.641632
2016-11-01,42.589279,44.763500,168.282867,104.787750,51.195988,73.236855,112.239998,35.639004,112.616692,102.809998,...,50.544827,75.303795,56.651421,22.135092,49.379543,59.964649,98.979469,79.050003,37.220158,49.159103
2016-12-01,44.119316,45.118092,167.687958,110.376678,52.728493,73.766098,112.680000,35.957298,110.447914,102.949997,...,56.898602,78.546463,56.213230,20.667313,47.562851,59.907890,100.281578,85.760002,40.525677,52.336792
2017-01-01,47.558792,42.760242,162.904938,115.646774,51.457024,82.341805,106.370003,39.102734,107.373894,113.379997,...,54.853374,73.003128,55.283302,24.983335,47.361153,61.989017,115.251884,83.669998,39.550728,53.715363
2017-02-01,49.821651,44.799213,155.336945,130.551743,52.597115,86.332466,117.970001,42.473969,115.511559,118.339996,...,55.437729,70.766663,61.932903,26.821938,46.218185,62.076958,114.034401,90.709999,42.091209,52.224739
2017-03-01,51.346409,40.966808,147.054825,137.501846,55.420891,83.828339,125.199997,41.842701,113.041031,130.130005,...,54.872231,72.019707,60.879875,26.461428,48.415688,60.727451,118.933556,91.250000,39.444206,52.283508
2017-04-01,53.596260,41.276730,141.040527,137.492264,56.084301,77.718842,130.320007,41.117218,114.380035,133.740005,...,59.820114,71.703560,61.746223,25.975956,49.562943,62.485611,116.768784,94.269997,37.594086,54.967731
2017-05-01,58.746578,46.884247,132.596359,146.211731,56.710979,86.925743,137.429993,43.283569,118.586845,141.860001,...,63.232437,70.693665,62.019608,25.542425,50.266712,69.357986,116.339386,104.339996,37.631649,61.132847
2017-06-01,57.743774,48.838978,115.688164,138.415375,62.285885,89.920425,143.300003,46.080040,117.834183,141.440002,...,61.299255,71.565117,63.308430,25.948860,53.623169,70.427383,125.308105,100.519997,41.319515,61.231010
2017-07-01,58.340748,48.955448,111.197601,142.942078,60.052479,89.245064,148.089996,46.620380,122.731255,146.490005,...,60.289032,70.953453,60.647633,27.760935,54.880791,72.069672,118.622353,101.720001,41.517128,61.472790
2017-08-01,63.151253,43.423210,97.189934,157.617828,65.263901,76.336761,150.800003,48.556011,124.579529,155.160004,...,62.957531,67.664635,55.309315,29.209173,60.046734,73.647812,111.729111,103.089996,41.084267,61.649776
2017-09-01,62.643845,46.185772,98.480507,148.703979,77.016579,79.075508,168.600006,50.862759,128.685837,149.179993,...,67.875694,73.377625,58.477108,30.132429,60.767315,70.570374,114.486412,108.580002,44.515331,62.692020
2017-10-01,66.381012,45.534168,81.198547,163.099670,78.221321,73.533058,192.919998,51.692036,135.631256,175.160004,...,70.616417,74.603867,59.885067,27.638607,64.551331,71.375687,119.161758,115.989998,43.835999,62.751011
2017-11-01,67.211998,49.103378,100.330978,165.810959,84.588371,81.053589,194.910004,53.994717,142.379974,181.470001,...,66.610764,74.550163,65.709801,27.045897,67.277756,80.023232,114.733124,110.320000,46.751480,71.079132
2017-12-01,65.481346,50.711876,99.029663,163.869995,84.405090,88.159889,187.410004,54.665226,147.266754,175.240005,...,64.922081,75.556274,64.552719,26.580843,66.351181,78.535492,118.230965,103.800003,48.128693,70.942154

In [4]:
stocks.dropna(axis=1, how='all',inplace=True)

In [5]:
stocks.head()

Symbols,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-01,35.814228,46.503460,157.228470,107.393768,47.369701,87.141396,51.740002,40.023983,75.198761,70.129997,...,34.396351,71.042595,48.268581,30.603868,31.782488,46.148697,107.356613,83.459999,22.066845,41.130028
2015-02-01,40.122326,45.385414,153.203827,117.751808,47.843937,94.209885,60.790001,42.582039,80.568176,79.099998,...,37.775352,71.952782,51.143650,31.719276,33.273754,52.196384,115.295868,91.050003,24.627188,44.447651
2015-03-01,39.494980,50.110558,148.022156,114.507881,46.293957,104.519089,71.580002,41.647171,83.843529,73.940002,...,37.998577,69.595909,49.098305,29.860268,32.769524,50.658344,112.547302,90.720001,24.904493,44.640507
2015-04-01,39.420738,45.847645,141.463303,115.170479,51.133713,105.098396,63.220001,41.728058,82.912842,76.059998,...,38.950790,71.536407,49.272953,26.778467,34.641010,55.317478,105.386642,92.080002,26.140495,42.837158
2015-05-01,39.249218,40.309525,151.573456,119.891411,53.096729,103.498474,59.720001,43.911228,87.823227,79.089996,...,42.597935,69.759659,50.277725,26.592186,34.219929,58.413620,109.464340,109.639999,26.638588,48.082653

In [6]:
print('Number of companies to analyze: ', len(stocks.columns))

Number of companies to analyze:  496

In [22]:
stocks.pct_change(1).mean().sort_values(ascending=False).drop(['INFO','WELL','DXC','LW']).head(10)

Symbols
TPR     0.215024
NVDA    0.074717
ISRG    0.062592
AMD     0.053360
MNST    0.050086
ALGN    0.044756
ANET    0.043734
ABMD    0.042439
TTWO    0.041172
NFLX    0.038400
dtype: float64

In [25]:
ten_stocks=list(stocks.pct_change(1).mean().sort_values(ascending=False).drop(['INFO','WELL','DXC','LW']).head(10).index)

In [27]:
stocks=stocks[ten_stocks]

In [28]:
stocks

Symbols,TPR,NVDA,ISRG,AMD,MNST,ALGN,ANET,ABMD,TTWO,NFLX
Date,,,,,,,,,,
2015-01-01,30.076061,18.499109,164.826660,2.57,38.983334,53.049999,63.119999,51.740002,29.719999,63.114285
2015-02-01,35.219479,21.254705,166.666672,3.11,47.040001,57.349998,69.209999,60.790001,26.490000,67.844284
2015-03-01,33.504993,20.243610,168.343338,2.68,46.133335,53.790001,70.529999,71.580002,25.459999,59.527142
2015-04-01,31.147432,21.471954,165.326660,2.26,45.703335,58.840000,64.010002,63.220001,23.700001,79.500000
2015-05-01,28.832361,21.404249,162.583328,2.28,42.426666,60.669998,69.910004,59.720001,27.370001,89.151428
2015-06-01,28.212830,19.540529,161.500000,2.40,44.673332,62.709999,81.739998,65.730003,27.570000,93.848572
2015-07-01,25.674900,19.385059,177.723328,1.93,51.183334,62.700001,84.470001,77.459999,31.580000,114.309998
2015-08-01,3.127071,21.843416,515.570007,1.78,140.009995,56.599998,74.790001,95.900002,29.129999,115.029999
2015-09-01,2.871968,24.052742,153.193329,1.72,45.046665,56.759998,61.189999,92.760002,28.730000,103.260002
2015-10-01,26.265989,27.682606,165.533340,2.12,45.439999,65.459999,64.510002,73.660004,33.200001,108.379997
2015-11-01,26.745846,30.951441,173.339996,2.36,51.536667,66.739998,73.519997,81.570000,35.369999,123.330002
2015-12-01,27.554033,32.283520,182.053329,2.87,49.653332,65.849998,77.839996,90.279999,34.840000,114.379997
2016-01-01,31.527910,28.688843,180.283340,2.20,45.009998,66.139999,60.029999,85.330002,34.700001,91.839996
2016-02-01,33.136215,30.716360,187.686661,2.14,41.833332,66.029999,68.540001,80.010002,35.990002,93.410004
2016-03-01,34.114811,35.025860,200.350006,2.85,44.459999,72.690002,63.099998,94.809998,37.669998,102.230003
2016-04-01,34.564587,34.927559,208.786667,3.55,48.073334,72.190002,66.620003,97.139999,34.180000,90.029999
2016-05-01,33.835022,45.927826,211.570007,4.57,50.000000,78.830002,73.290001,99.309998,38.910000,102.570000
2016-06-01,34.968006,46.332920,220.470001,5.14,53.570000,80.550003,64.379997,109.290001,37.919998,91.480003
2016-07-01,37.321766,56.277580,231.919998,6.86,53.543335,89.150002,71.269997,117.970001,40.180000,91.250000
2016-08-01,33.053699,60.456516,228.806671,7.40,51.296665,92.900002,79.680000,117.940002,43.470001,97.449997
2016-09-01,31.651209,67.657547,241.610001,6.91,48.936668,93.750000,85.080002,128.580002,45.080002,98.550003
2016-10-01,31.345737,70.264328,224.026672,7.23,48.113335,85.919998,84.750000,104.989998,44.389999,124.870003
2016-11-01,31.782434,91.039482,214.580002,8.91,44.750000,93.050003,94.809998,112.239998,49.230000,117.000000
2016-12-01,30.585888,105.554268,211.389999,11.34,44.340000,96.129997,96.769997,112.680000,49.290001,123.800003
2017-01-01,32.914288,107.967178,230.896667,10.37,42.599998,91.690002,94.000000,106.370003,53.650002,140.710007
2017-02-01,33.566410,100.352707,245.666672,14.46,41.439999,102.760002,118.989998,117.970001,56.980000,142.130005
2017-03-01,36.421623,107.855911,255.490005,14.55,46.169998,114.709999,132.270004,125.199997,59.270000,147.809998
2017-04-01,35.024567,103.271561,278.623322,13.30,45.380001,134.619995,139.639999,130.320007,62.849998,152.199997
2017-05-01,41.088737,142.926636,304.893341,11.19,50.560001,145.199997,147.380005,137.429993,76.739998,163.070007
2017-06-01,42.093510,143.285339,311.790009,12.48,49.680000,150.119995,149.789993,143.300003,73.379997,149.410004
2017-07-01,42.222118,161.077026,312.753326,13.61,52.750000,167.229996,149.289993,148.089996,79.480003,181.660004
2017-08-01,37.349648,167.945953,334.890015,13.02,55.820000,176.740005,176.149994,150.800003,97.790001,174.710007
2017-09-01,36.077782,177.349686,348.626678,12.75,55.250000,186.270004,189.610001,168.600006,102.230003,181.350006
2017-10-01,36.978477,205.166885,375.359985,10.99,57.930000,238.979996,199.889999,192.919998,110.650002,196.429993
2017-11-01,37.646706,209.928772,399.779999,10.89,62.669998,254.919998,233.119995,194.910004,111.550003,195.509995
2017-12-01,39.940365,192.096024,364.940002,10.28,63.290001,222.190002,235.580002,187.410004,109.779999,191.960007

In [29]:
log_returns = np.log(stocks/stocks.shift(1))
log_returns.head(3)

Symbols,TPR,NVDA,ISRG,AMD,MNST,ALGN,ANET,ABMD,TTWO,NFLX
Date,,,,,,,,,,
2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-01,0.157870,0.138856,0.011101,0.190717,0.187864,0.077938,0.092108,0.161194,-0.115053,0.072268
2015-03-01,-0.049905,-0.048739,0.010010,-0.148806,-0.019463,-0.064085,0.018893,0.163390,-0.039659,-0.130783

In [30]:
np.random.seed(88)
print(stocks.columns)
weights=np.array(np.random.random(len(stocks.columns)))
print('Random Weights:')
print(weights)
print('Rebalanced Weights:')
weights = weights/np.sum(weights) #normalize
print(weights)

Index(['TPR', 'NVDA', 'ISRG', 'AMD', 'MNST', 'ALGN', 'ANET', 'ABMD', 'TTWO',
       'NFLX'],
      dtype='object', name='Symbols')
Random Weights:
[0.64755105 0.50714969 0.52834138 0.8962852  0.69999119 0.7142971
 0.71733838 0.22281946 0.17515452 0.45684149]
Rebalanced Weights:
[0.11634529 0.09111942 0.09492692 0.16103527 0.12576719 0.12833753
 0.12888396 0.0400339  0.03146996 0.08208056]

In [31]:
print('Expected Portfolio Return')
expected_return = np.sum(log_returns.mean() * weights * 12)
print(expected_return)

Expected Portfolio Return
0.3920208246603639

In [32]:
print('Expected Volatility')
expected_volatility = np.sqrt(np.dot(weights.T,np.dot(log_returns.cov()*12,weights)))
print(expected_volatility)

Expected Volatility
0.31644466892276885

In [33]:
print('Sharpe Ratio')
SR = expected_return / expected_volatility
print(SR)

Sharpe Ratio
1.238828974413976

In [34]:
number_portfolios = 5000
all_weights = np.zeros((number_portfolios,len(stocks.columns)))
returns_array = np.zeros(number_portfolios)
volatility_array = np.zeros(number_portfolios)
sharpe_array = np.zeros(number_portfolios)

for i in range(number_portfolios):
    weights=np.array(np.random.random(len(stocks.columns)))
    weights=weights/np.sum(weights)
    all_weights[i,:] = weights #save weights
    returns_array[i] = np.sum ((log_returns.mean() * weights) * 12)
    volatility_array[i] = np.sqrt(np.dot(weights.T,np.dot(log_returns.cov()*12,weights)))
    sharpe_array[i] = returns_array[i]/volatility_array[i]

In [35]:
sharpe_array.max()

2.665941284760416

In [36]:
sharpe_array.argmax()

817

In [37]:
optimal_weights=all_weights[sharpe_array.argmax(),:]

In [40]:
df=pd.DataFrame(optimal_weights,index=stocks.columns)
df.rename(columns = {0:'Optimal Weights'},inplace = True)
df=df[df['Optimal Weights']!=0]
df

         Optimal Weights
Symbols
TPR             0.005465
NVDA            0.336309
ISRG            0.024714
AMD             0.044044
MNST            0.025390
ALGN            0.297285
ANET            0.021207
ABMD            0.206352
TTWO            0.026556
NFLX            0.012677